<ion-card>
  <img src={{src}} />
  <ion-card-header>
    {{title}}
  </ion-card-header>

  <ion-card-content>
    {{text}}
  </ion-card-content>
  
  <ion-card-content class="counter">
    {{count}} / {{outOf}}
  </ion-card-content>

  <ion-row no-padding>
    <ion-col>
      <a ion-button small color="danger" icon-start href={{leftLink}}>
        <ion-icon name='md-heart'></ion-icon>
        Donate with Amazon
      </a>
    </ion-col>
    <ion-col text-right>
      <a ion-button clear small color="danger" icon-start href={{rightLink}}>
        <ion-icon name='md-heart'></ion-icon>
        Donate on Site
      </a>
    </ion-col>
  </ion-row>

</ion-card>
