<ion-card>
  <img src="https://source.unsplash.com/collection/190727/500x250" />
  <ion-card-header>
    {{title}}
  </ion-card-header>

  <ion-card-content>
    {{text}}
  </ion-card-content>

  <ion-row no-padding>
    <ion-col>
      <button ion-button small color="danger" icon-start>
        <ion-icon name='md-heart'></ion-icon>
        Donate with Amazon
      </button>
    </ion-col>
    <ion-col text-right>
      <button ion-button clear small color="danger" icon-start>
        <ion-icon name='md-heart'></ion-icon>
        Donate on Site
      </button>
    </ion-col>
  </ion-row>

</ion-card>
